.outer-container {
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.profile-photo {
    width: 12vw;
    margin-left: 5px;
}

.links {
    color: black !important;
    text-decoration: none !important;
    text-align: "center";
}
